.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  background-image: url(./assets/kharkiv.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.currentDate {
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
  padding-top: 40px;
}

h1 {
  font-size: 90px;
  margin: 0;
  padding: 0;
}

.temperature {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 300px;
  text-transform: uppercase;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details {
  list-style: none;
  font-weight: bold;
  padding-bottom: 10px;
}

.details li {
  padding-top: 20px;
  font-size: 24px;
}

.details img {
  width: 200px;
  height: 200px;
}